.content-bg {
  background: #fff;
}

.content-left-container {
  background: #fff;
  height: 100%;
}

.content-center-container {
  height: 100%;

  .center-control-container {
    position: relative;
    padding: 20px;

    span[datatype='canvas-area'] {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .control-icon {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: space-around;
      width: 150px;
    }
  }

  .center-canvas-container {
    width: 375px;
    height: 560px;
    background-color: #fff;
    margin: 24px auto 0;
  }
}

.content-right-container {
  background-color: #fff;
  height: 100%;
}
